<template>
  <div class="skills">
    <div class="skills-progressbar d-flex mt-5">
      <div class="leftSide col-lg-6">
        <ul>
          <li>
            <span>Team Leadership</span>
            <div class="progress mt-2">
              <div
                class="progress-bar progress-bar-striped"
                style="width:85%"
              ></div>
            </div>
          </li>

          <li>
            <span>Conflict Resolution</span>
            <div class="progress mt-2">
              <div
                class="progress-bar progress-bar-striped"
                style="width:70%"
              ></div>
            </div>
          </li>

          <li>
            <span>Adobe Photoshop</span>
            <div class="progress mt-2">
              <div
                class="progress-bar progress-bar-striped"
                style="width:40%"
              ></div>
            </div>
          </li>
          <li>
            <span>Task Management</span>
            <div class="progress mt-2">
              <div
                class="progress-bar progress-bar-striped"
                style="width:90%"
              ></div>
            </div>
          </li>
          <li>
            <span>Time Management</span>
            <div class="progress mt-2">
              <div
                class="progress-bar progress-bar-striped"
                style="width:50%"
              ></div>
            </div>
          </li>
          <li>
            <span>Adaptability</span>
            <div class="progress mt-2">
              <div
                class="progress-bar progress-bar-striped"
                style="width:60%"
              ></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="rightSide col-lg-6">
        <ul>
          <li>
            <span>Teamwork</span>
            <div class="progress mt-2">
              <div
                class="progress-bar progress-bar-striped"
                style="width:80%"
              ></div>
            </div>
          </li>
          <li>
            <span>IT Solutions</span>
            <div class="progress mt-2">
              <div
                class="progress-bar progress-bar-striped"
                style="width:75%"
              ></div>
            </div>
          </li>

          <li>
            <span>SQL Server</span>
            <div class="progress mt-2">
              <div
                class="progress-bar progress-bar-striped"
                style="width:35%"
              ></div>
            </div>
          </li>
          <li>
            <span>Agile Methodology (Scrum)</span>
            <div class="progress mt-2">
              <div
                class="progress-bar progress-bar-striped"
                style="width:80%"
              ></div>
            </div>
          </li>
          <li>
            <span>Documentation</span>
            <div class="progress mt-2">
              <div
                class="progress-bar progress-bar-striped"
                style="width:60%"
              ></div>
            </div>
          </li>

          <li>
            <span>Creativity</span>
            <div class="progress mt-2">
              <div
                class="progress-bar progress-bar-striped"
                style="width:45%"
              ></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style scoped>
.skills-progressbar ul {
  list-style-type: none;
}
.skills-progressbar ul li {
  padding-bottom: 25px;
}
</style>

<script>
export default {}
</script>
